%p#breadcrumb
  = link_to 'Applications', root_path
  »
  = link_to @application.name, @application
  »
  = link_to 'Notifiers', application_path(@application, :anchor => 'notifiers')
  » New notifier
  

%h1 New notifier

= render 'form'
