%p#breadcrumb
  = link_to 'Applications', applications_path
  |
  Notifications

%h1 Listing notifications
- if @notifications.present?
  = render 'notifications', :notifications => @notifications
  = will_paginate @notifications
- else
  %p No notifications yet!
